/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* smooth scroll */
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f172a; /* dark blue */
    color: white;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #111827; /* black/navy */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #2563eb; /* blue */
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #2563eb;
}

/* SECTIONS */
.section {
    height: 100vh;
    padding-top: 120px; /* space because navbar is fixed */
    text-align: center;
    font-size: 32px;
}
